@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Not Authorized</h1>
<h2 class="text-danger">An error occurred while processing your request.  Please contact the Titan team to gain access.</h2>

