@{
    ViewBag.Title = "Home Page";
    //ViewBag.Dropdowns = new Dictionary<string, IEnumerable<object>>();
}

@using cosmosui.Models
@model FieldMasterInfo

<br />
<br />
@using (Html.BeginForm("Index", "Bank", FormMethod.Post))
{
    foreach (var val in Model.populate_dd)
    {<p>
        @Html.Label(val.Key):

        @Html.DropDownListFor(m => m.store_dd[val.Key], new SelectList(val.Value), "-- Select--")
        <br />
    </p>
    }

    <input type="submit" value="Query" />
}