@model cosmosui.Models.FieldMasterInfo
@{
    Layout = null;
}

@Html.HiddenFor(model => model._rid)
<style>
    table, th, td {
        border: 1px solid black;
        padding: 5px;
    }
</style>

<div>
    <table>
        @foreach (var x in ViewData.ModelMetadata.Properties)
        {
            if(!x.PropertyName.Contains("_"))
            {
                var prop = x.PropertyName;
                <tr>
                    <td>

                        @Html.LabelFor(model => prop, prop)
                    </td>
                    <td>
                        @Html.Editor(prop)
                    </td>
                </tr>
            }        
        }
    </table>
</div>
